[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bpmnVisualizationR"]
	path = bpmnVisualizationR
	url = https://github.com/process-analytics/bpmn-visualization-r
